@model StorageFinalProject.Models.Category

@{
    ViewBag.Title = "Add category";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Enter name and description of a category.</h2>
@using (Html.BeginForm("AddCategory","StorageOperator", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.name)
                @Html.TextBoxFor(m => m.name)
                @Html.ValidationMessageFor(m => m.name)
            </li>
            <li>
                @Html.LabelFor(m => m.description)
                @Html.TextAreaFor(m => m.description)
                @Html.ValidationMessageFor(m => m.description)
            </li>
            
        </ol>
        <input type="submit" value="Add category" />
    </fieldset>
}
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}